body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}



.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 1000;
}
        .popup img {
            max-width: 100%;
            height: auto;
            display: block; /* Ensure image is treated as block element */
            margin: 0 auto; /* Center image horizontally */
        }
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

#printButton {
  position: absolute;
  top: 100px;  /* Adjust the distance from the top */
  right: 10px;  /* Position the button on the right side */
  width: 73px;  /* Set the width to 73px */
  padding: 10px;
  background-color: #0a20e6;
  color: white;
  font-size: 16px;  /* Adjust the font size to fit within the smaller button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;  /* Centers the text inside the button */
  z-index: 1000; /* Make sure the button is above the map */
}